@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@docsearch/css";

html, body {height: 100%;}

@keyframes fadeIn {
  from {
      opacity: 0.25;
      transform: rotateY(-10deg);
  }

  to {
      opacity: 1;
      transform: rotateY(0deg);
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

/*
.header__offset:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}
*/

h3.header__offset,
h4.header__offset,
h5.header__offset {
  svg {
    @apply h-4;
  }
}

.changelog {
  @apply py-8 space-y-4;

  h1 {
    @apply hidden;
  }

  h2 {
    @apply text-3xl text-whisper-900;
  }

  ul {
    @apply list-disc pl-5 pb-8;
  }

  a, a:visited {
    @apply text-teal-500;
  }

  a:hover {
    @apply text-teal-800;
  }
}

.markdown {
  @apply space-y-4 text-whisper-900;

  h1, h2, h3, h4, h5, h6 {
    @apply text-whisper-500;
  }

  h1 {
    @apply text-5xl tracking-tight font-extrabold sm:leading-none lg:text-5xl xl:text-6xl;
  }

  h2 {
    @apply mt-16 tracking-tight font-extrabold sm:leading-none text-3xl xl:text-4xl !important;
  }

  h3 {
    @apply tracking-tight font-extrabold sm:leading-none text-xl xl:text-2xl break-all;
  }

  h4 {
    @apply tracking-tight font-extrabold sm:leading-none text-lg xl:text-xl;
  }

  h5 {
    @apply tracking-tight font-extrabold sm:leading-none text-lg;
  }

  img {
    @apply mx-auto my-8;
  }

  p {
    @apply my-4;
  }

  ul {
    @apply list-disc pl-5 my-4;
  }

  ol {
    @apply list-decimal pl-5 my-4;
  }

  a, a:visited {
    @apply text-teal-500;
  }

  a:hover {
    @apply text-teal-800;
  }

  blockquote {
    @apply py-2 px-4 my-4 border-l-4 border-teal-500;
  }

  blockquote.important {
    @apply border-red-500;
  }

  code {
    @apply bg-vulcan-300 rounded text-yellow-900;
    padding: 2px 4px;
  }

  pre {
    @apply p-[1px] my-0 bg-vulcan-200 break-all whitespace-pre-wrap;

    code {
      background: inherit;
    }
  }

  pre.shiki {
    @apply my-0 p-4;
  }
}

.changelog .markdown h2:first-child {
    @apply mt-0 !important;
}

/* DocSearch */
html[data-theme=dark] {
  --docsearch-text-color: #f3eff5;
  --docsearch-logo-color: #f3eff5;

  /* Search button */
  --docsearch-searchbox-background: #2c313d;
  --docsearch-searchbox-focus-background: #222733;
  --docsearch-muted-color: #cbc7cd;

  /* Overlap background */
  --docsearch-container-background: rgba(54,59,71, 0.8);

  /* Modal */
  --docsearch-modal-background: #0e131f;
  --docsearch-modal-shadow: none;
  --docsearch-footer-background: #0e131f;

  /* Colors */
  --docsearch-primary-color: #15c2cb;

  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-background: #090a11;

  --docsearch-hit-shadow: none;
  /* --docsearch-key-gradient: none; */
  --docsearch-key-shadow: none;
  --docsearch-footer-shadow: none;
}

.DocSearch-Screen-Icon svg {
  @apply mx-auto;
}

.DocSearch-Button {
  @apply border border-transparent !important;
  border-radius: 0;
  box-shadow: none !important;

  &:hover {
    @apply border border-whisper-50 !important;
  }
}

.DocSearch-Button-Keys, .DocSearch-Button-Key {
  @apply top-auto;
}

.DocSearch--active {
  overflow: auto !important;
}

/* create css media query */
@media (max-width: 410px) {
}

/* Tables */
table {
  @apply table-auto w-full;

  th {
    @apply text-left;
  }

  th, td {
    @apply border-b border-vulcan-50 p-4;
  }
}

.sponsor__block {
  h3 {
    @apply text-xl;
  }
}

.table__wrapper {
  @apply overflow-x-auto;
}

/* Search */
.DocSearch-Button {
  .DocSearch-Button-Placeholder,
  .DocSearch-Button-Keys {
    display: none;
  }
}